## [Visual Studio / .NET]
bin/
obj/
out/
[Dd]ebug/
[Rr]elease/
x64/
x86/
bld/
[Log]s/
[Tt]est[Rr]esults/

## [JetBrains Rider / Resharper]
.idea/
*.sln.iml
*.suo
*.user
*.userosscache
*.sln.docindex
_ReSharper.Caches/

## [Cấu hình cá nhân & Bảo mật]
*.user
*.userprefs
appsettings.Development.json
appsettings.Local.json
.env

## [Hệ điều hành]
Thumbs.db
.DS_Store
desktop.ini

## [Packages]
*.nupkg
**/packages/*
!**/packages/build/